<style>
button {
    background-color: #7bc2fd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    color:#fff;
    background-color:#a7aeec
}
</style>
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134722262-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

   <meta charset="utf-8">
      <title>HCI Project Portfolio</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/default.css" rel="stylesheet">

      <body>
      <!-- this is a comment in HTML -->
      <div class="col-md-6 center-block text-center">
         <h1>Disease.io</h1> <!-- h1 through h5 are headers. The higher the number, the smaller the header -->
            <h4>Embark upon a citizen science journey to protect yourself as you explore diseased lands!</h4>

            <!-- p means paragraph -->
            <p>Are you a scientist, or are you a citizen?</p>

            <h4>Roles:</h4>
            <div id="buttonContainer">
              <div class="row">
                <div class="col-sm-6" style="background-color:yellow;">
                  <button id="scientistButton">Scientist</button>
              </div>
              <div class="col-sm-6" style="background-color:pink;">
                <button id="mapButton">Citizen</button>
              </div>
            </div>
           </div>
      </div>
            <div id="bottom-buttonContainer" align="center">
               <button class="btn btn-primary" id="aboutButton">About</button>
               <button class="btn btn-primary" id="helpButton" >Help</button>
            </div>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/initializeIndex.js"></script>
      <script>
      $("#AboutButton").click(function(e) {
          e.preventDefault();
          alert("There is no knowledge, all is darkness."); 
          //TODO make help do something.
      });
      </script>
      <script>
      $("#HelpButton").click(function(e) {
          e.preventDefault();
          alert("There is no aid, you stand alone in a sea of shadow and uncertainty."); 
          //TODO make help do something.
      });
      </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88111801-1', 'auto');
  ga('send', 'pageview');

</script>
       </body>
</html>
